@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-header: Montserrat, sans-serif;
  --font-text: Roboto, sans-serif;
  --border-radius-lg: 1em;
  --border-radius-sm: 0.75em;
  --space: 1rem;
}

body {
  font-family: var(--font-text);
  background: url(./images/background.jpg);
  margin: 0;
}

*:focus {
  outline: transparent;
  box-shadow: 0 0 0 3px rgb(173, 44, 173);
}

.board {
  margin: 2em auto;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1rem));
  grid-gap: var(--space);
  justify-content: center;
  align-items: flex-start;
}

.task-list {
  min-height: 10em;
  padding: var(--space);
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
  border-radius: var(--border-radius-lg);
}

.task-list > * + * {
  margin-top: var(--space);
}

.task-list__header {
  font-family: var(--font-header);
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0;
}

.task-list__content > * + * {
  margin-top: var(--space);
}

.task {
  display: flex;
  align-items: center;
  padding: 0.75em var(--space);
  background: white;
  border-radius: var(--border-radius-sm);
  cursor: move;
}

.task--moving {
  outline: 3px dashed purple;
}

.task__controls {
  margin-left: auto;
  opacity: 0;
}

.task:hover .task__controls,
.task:focus-within .task__controls {
  opacity: 1;
}

.task__delete {
  font-size: 1.3rem;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10ch;
  min-height: 40px;
  padding: 0.25em 0.75em;
  background: none;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease-in;
  transition-property: color, background;
}

.button:hover,
.button:focus {
  transition: background 0.2s ease-out;
}

.button-submit {
  color: white;
  background: rgb(78, 151, 235);
}

.button-submit:hover,
.button-submit:focus {
  background: rgb(10, 104, 211);
}

.button-cancel {
  color: rgb(219, 104, 104);
  border: 2px solid rgb(219, 104, 104);
}

.button-cancel:hover,
.button-cancel:focus {
  color: white;
  background-color: rgb(219, 104, 104);
}

.task__add {
  color: white;
  font-size: 1rem;
  width: 100%;
  border: 2px solid white;
  transition: all 0.2s ease-in;
  transition-property: color, background;
}

.task__add:hover,
.task__add:focus {
  color: #2a3de8;
  background: white;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.modal--open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-out;
}

.modal__content {
  width: 40ch;
  max-width: 95%;
  padding: var(--space);
  background: white;
  border-radius: var(--border-radius-lg);
  transform: scale(0.2);
  transition: transform 0.2s ease-in;
}

.modal--open .modal__content {
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.form-header {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: var(--space);
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form > * + * {
  margin-left: 5px;
}

.text-input {
  flex: 1;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: var(--border-radius-sm);
}
